<div layout="column">
  <div class="titleCls"><p class="headerCls">Albums</p></div>
  <div class="menuCls">
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()" class="btnCls">
          Options
        </button>
        <md-menu-content width="2">
          <md-menuItem>
            <md-button ng-click="controller.createAlbum()">
              Create New Album
            </md-button>
          </md-menu-item>
          <md-menuItem>
            <md-button ng-click="controller.deleteAlbum()">
              Delete Album
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </div>
  <div layout="row" flex class="mainDivCls">
    <div ng-repeat="album in controller.albums" class="imgDivCls">
      <div  layout="column">
        <input type="checkbox" ng-click="controller.addSelectedAlbums(album._id)" />
        <div class="photoDivCls">
          <a ui-sref="album({id:album._id})">
            <img ng-src="{{ album.albumCover}}" id="albumImg" class="placeHolderImg" title="{{album.albumName}}"/>
          </a>
        </div>
      </div>

    </div>
    <div class="imgDivCls">
      <div class="placeholderDivCls">
        <img src="ngApp/images/album.jpg" alt="new album" title="Create new album" class="placeHolderImg" ng-click="controller.createAlbum()">
      </div>
    </div>
  </div>

</div>
