<div layout="column" flex>
  <div class="titleCls"><p class="headerCls">Create Album</p></div>
  <div class="formDivCls">
    <form name="createAlbumForm" ng-submit="createAlbumForm.$valid && controller.createAlbum()" novalidate>
      <div class="form-group createDivCls" >
        <label>Album Name :</label>
        <input type="text" ng-model="controller.album.albumName" name="albumName" required class="form-control myInputClass">
        <span ng-show="createAlbumForm.albumName.$touched && createAlbumForm.albumName.$error.required" class="error errSpanCls">
          Album name is required.
        </span>
      </div>
      <button type="submit" class="btn btn-default buttonCls">Create Album</button>
    </form>
  </div>
  <div class="textCls">
    Choose photos for the album:
  </div>
  <div layout="row" flex class="mainDivCls">
    <div ng-repeat="photo in controller.photos" class="imgDivCls">
      <div  layout="column">
        <input type="checkbox" ng-change="controller.addSelectedPhotos(photo._id, photo.checked)" ng-model="photo.checked" ng-true-value="true" ng-false-value="false"/>
        <div class="photoDivCls" context-menu="controller.menuOptions()">
          <img ng-src="{{ photo.fileUrl | fpConvert: {w:400} }}" id="photoImg" class="placeHolderImg"/>
        </div>
      </div>
    </div>
  </div>
</div>
