<md-dialog aria-label="Photo">
  <form ng-cloak ng-submit="controller.savePhoto()">
    <md-toolbar >
      <div class="md-toolbar-tools" >
        <p><strong>Edit Caption</strong></p>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="controller.dialogCancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h6>{{controller.photo.fileName}}</h6>
        <div>
          <img  ng-src="{{controller.photo.fileUrl}}" class="photoImg">
        </div>
        <label>Caption :</label>
        <input ng-model="controller.photo.caption">
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
        <md-button type="submit">
          Save
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
