<div layout="column" layout-align="center center" >
  <div class="marg-BottomCls"  >
  <h5 class="align-center">Login</h5>
  <form ng-submit="controller.loginUser()">
    <div class="form-group">
      <label>User Name:</label>
      <input name="username" ng-model="controller.userCredentials.username" class="form-control">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input name="password" ng-model="controller.userCredentials.password" class="form-control" md-autofocus>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Login</button><br/>
      <label class="errCls">{{controller.errorMsg}}</label>
    </div>
  </form>
</div>
</div>
