<div layout="column" flex>
  <div layout="row" flex >
  <md-sidenav class="md-sidenav-left" style="background-color: red;" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout-align="start center" >
    <md-list >
      <md-list-item>
        <md-button class="nav-btn">
          Upload
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="nav-btn">
          Photos
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="nav-btn">
          Albums
        </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>
  <md-content class="backColor" flex>content</md-content>
  </div>
</div>
