<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
  <md-toolbar layout="row" class="md-toolbar-tools">
    <div>
      <h3>slideshow</h3>
    </div>
    <span flex></span>
    <div>
      <md-button class="md-icon-button" ng-click="ctrl.closeDialog()">
        <md-icon><i class="material-icons">clear</i></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div layout="column" flex>
    <div class="demo-dialog-content" ng-controller="PhotosController as controller" id="slides_control">
      <div>
          <uib-carousel interval="0" active="0">
              <uib-slide ng-repeat="photo in controller.photos" index="$index">
                  <img ng-src="{{photo.fileUrl}}" style="margin:auto;">
                  <div class="carousel-caption">
                      <h4>{{photo.fileName}}</h4>
                  </div>
              </uib-slide>
          </uib-carousel>
      </div>
    </div>

<!--  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()">
      Close
    </md-button>
  </div> -->
</div>
</div>
