<div layout="column" flex>
  <div class="titleCls"><h6>Photos</h6></div>
  <div class="menuCls">
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()" class="btnCls">
          Options
        </button>
        <md-menu-content width="2">
          <md-menuItem>
            <md-button>
              Add to an Album
            </md-button>
          </md-menu-item>
          <md-menuItem>
            <md-button ng-click="controller.startSlideShow()">
              Slide show
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </div>
  <div layout="row" flex class="mainDivCls">
    <div ng-repeat="photo in controller.photos" class="imgDivCls">
      <div  layout="column">
        <input type="checkbox" />
        <div class="photoDivCls" context-menu="controller.menuOptions()">
          <img ng-src="{{ photo.fileUrl | fpConvert: {w:400} }}" id="photoImg"/>
        </div>
      </div>
    </div>
  </div>
</div>
