<div layout="column" layout-align="center center">
  <div class="marg-BottomCls">
    <flash-message duration="5000"></flash-message>
  </div>
  <div class="">
    <h5 class="align-center">Register</h5>
    <form novalidate name="registrationForm" ng-submit="registrationForm.$valid && controller.register()" >
      <div class="form-group">
        <label>User Name:</label>
        <input name="username" ng-model="controller.user.username" class="form-control" required>
        <span ng-show="registrationForm.username.$touched && registrationForm.username.$error.required" class="error">
          Username is required.
        </span>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" ng-model="controller.user.email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
        <span ng-show="registrationForm.email.$touched && registrationForm.email.$error.required" class="error">
          Email is required.
        </span>
        <span ng-show="registrationForm.email.$touched && registrationForm.email.$error.pattern" class="error">
          Please enter a valid email.
        </span>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input name="password" type="password" ng-model="controller.user.password" class="form-control" required>
        <span ng-show="registrationForm.password.$touched && registrationForm.password.$error.required" class="error">
          Password is required.
        </span>
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input name="confirmPassword" type="password" ng-model="controller.user.confirmPassword" match-password="password" class="form-control" required>
        <span ng-show="registrationForm.confirmPassword.$touched && registrationForm.confirmPassword.$error.passwordMatch" class="error">
          Your passwords did not match.
        </span>
      </div>
      <button class="btn btn-primary">Register</button>
    </form>
    <label class="errCls">{{controller.errorMsg}}</label>
  </div>
</div>
