<!DOCTYPE html>
<html ng-app="photoalbum">

<head>
  <title>photoalbum</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css" media="screen" title="no title">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">

  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body ng-cloak ng-controller="HomeController as controller" layout="column">
  <div layout="column" flex>
     <md-toolbar layout="row" layout-align="center center" class="md-toolbartools md-medium-tall" >
       <md-button ng-click="controller.toggleMenu('left')" hide-gt-sm ng-if="currentUser !== false">
         <md-icon><i class="material-icons">menu</i></md-icon>
       </md-button>
          <div layout-align=" center center" layout="row" flex>
            <h1 class="align-center heading-text">Memories</h1></div>
            <div layout-align="end end" layout="row"  >
              <md-button class="nav-btn" ng-click="controller.home()">Home</md-button>
              <div ng-if="currentUser === false" layout="row">
                <md-button class="nav-btn" ng-click="controller.login()">Login</md-button>
                <md-button class="nav-btn" ng-click="controller.register()">Register</md-button>
              </div>
              <div ng-if="currentUser !== false" layout="row">
                <md-button class="nav-btn" ng-click="controller.logout()">Logout</md-button>
              </div>
            </div>
        </md-toolbar>
        <div layout="row" flex ng-controller="SidenavController as sideController">
          <md-sidenav ng-if="currentUser !== false" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout-align="start center" >
            <md-list>
              <md-list-item><md-button class="nav-btn" ng-click="sideController.pickFile()">Upload</md-button></md-list-item>
              <md-list-item><md-button class="nav-btn" ng-click="sideController.photos()">Photos</md-button></md-list-item>
              <md-list-item><md-button class="nav-btn" ng-click="sideController.albums()">Albums</md-button></md-list-item>
            </md-list>
          </md-sidenav>
          <md-content layout="column" flex>
            <ui-view layout="column" flex></ui-view>
          </md-content>
        </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-material/angular-material.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="/bower_components/angular-messages/angular-messages.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
  <script src="/ngApp/angular_filepicker.min.js"></script>



  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

</body>

</html>
