md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  border-bottom: 1px ridge yellow;
}
body{

}

h4{
  text-align: center;
  font-style: italic;
}
h5{
  margin-bottom:15px;
  font-weight: bold;
}

.align-center{
  text-align: center;
}

.titleCls{
  height:20px;
  background-color: yellow;
  padding:0px;
  text-align: center;
  font-weight: bold;

}
/*
.menuCls{
  height: 15px;
  background-color: yellow;
  color: black;
  margin-bottom: 5px;
}
*/
#homeImg{
  border-radius:155px /100px;
  border: 2px solid yellow;
  margin-top: 30px;
}

.photoDivCls{
  height:100%;
  width: 100%;
}

.errCls{
  font-weight: bold;
  color:red;
}



#photoImg{
  height:120px;
  width: 120px;
}

.imgDivCls{
  height:150px;
  width:150px;
  overflow:hidden;
  border: 1px solid yellow;
  margin: 5px;
}

.mainDivCls{
  margin-top: 15px;
}

h1{
  color: yellow;
  font-style:italic;
}
.nav-btn{
  font-size: 10px;
  min-width: 35px;
  min-height: 35px;
  padding: 0;
}

label{
  font-size:10px;
}

input.form-control {
  height: 20px;
}
.md-subheader .md-subheader-inner {
    padding: 20px;
}


.mycls{
  border: 1px solid black;
}

.marg-BottomCls{
  margin-top: 5%;
}

md-sidenav {
   width: 130px;
   min-width: 130px;
   max-width: 130px;
}

md-sidenav{
  background-color: rgb(66,66,66);
  color:yellow;
}

/*     */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.heading-text {
  font-family: 'Tangerine', serif;
  font-size: 52px;
}

/*   */
.md-open-menu-container.md-active{
    background-color: yellow;
}

md-menu-bar button{
  background-color: yellow;
  font-size: 10px;
}

md-menu-content.md-menu-bar-menu.md-dense .md-button{
  font-size:8px;
}

md-menu-content.md-menu-bar-menu.md-dense{
  padding:0px;
  width: 120px;
}

.menuCls{
  background-color: yellow;
}

.btnCls{
  background-color: yellow;
}

md-menu-item button{
  background-color: yellow;
  font-size: 10px;
}

md-menu button:active{
  background-color: yellow;
}
md-menu-item{
  width:120px;
}

md-menu-bar {
  padding: 0 10px;
}
md-menu-content button{
  font-size:10px;
}

md-menu-content {
  color: rgba(0,0,0,0.87);
  background-color: yellow;
  font-size:10px;
  width: 200px;
}

/*   */

.demo-md-panel {
  min-height: 500px;
}

.demo-dialog-example {
  background: grey;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
  height:300px;
}

.demo-dialog-content {
  padding: 0 15px;
  width: 100%;
}



.demo-dialog-content img {
  margin-top:5px;
  height: 300px;

}

.demo-dialog-content{
  height: 300px;
  margin: auto;
  min-height:300px;
  overflow:auto;
  position:absolute;
}

.demo-dialog-button {
  position:relative;
  width: 100%;
}

/*  */

#slides_control > div{
/*  height: 200px;  */
overflow:auto;
}
.slideImg{
  margin:15px;
  width: 400px;
  min-height:400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
  margin-left:-200px;
  margin-top: 5px;
  padding-top:40px;
}

.carousel-inner>.item>img{
  height:200px;
  margin-top:5px;
}

.carousel-inner>.item.active{
/*  padding-top: 10px; */
}

.carousel-inner{
  overflow: :auto;
}

/* */

.md-button.md-icon-button {
  /*  margin: 0 0.6rem;  */
    height: 4.8rem;
    min-width: 0;
    line-height: 0.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 1.9rem;
}

.dropdown-menu {
    background-color: yellow;
    font-size:10px;
    min-width:0px;
    line-height: 0px;
}
.dropdown-menu a:hover{
  background-color: yellow;
}

.dropdown-menu>li>a{
  line-height: 0px;
  min-height: 10px;
  padding:2px;
}

.dropdown-menu>li>a:hover{
  background-color: yellow;
}

.dropdown-menu>li{

}

md-menu-bar button{
  height: 20px;
  padding: 0px;
  background-color: yellow;
}

md-menu-content.md-menu-bar-menu.md-dense .md-button{
  line-height: 0px;
  padding:0px;

}

md-menu-content.md-menu-bar-menu.md-dense .md-button span{
  
  padding:0px;
}
