md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  border-bottom: 1px ridge yellow;
}
body{

}

h4{
  text-align: center;
  font-style: italic;
}
h5{
  margin-bottom:15px;
  font-weight: bold;
}

.align-center{
  text-align: center;
}

#homeImg{
  border-radius:155px /100px;
  border: 2px solid yellow;
  margin-top: 30px;
}
h1{
  color: yellow;
  font-style:italic;
}
.nav-btn{
  font-size: 10px;
  min-width: 35px;
  min-height: 35px;
  padding: 0;
}

label{
  font-size:10px;
}

input.form-control {
  height: 20px;
}
.md-subheader .md-subheader-inner {
    padding: 20px;
}


.mycls{
  border: 1px solid black;
}

.marg-BottomCls{
  margin-top: 5%;
}

md-sidenav {
   width: 130px;
   min-width: 130px;
   max-width: 130px;
}

md-sidenav{
  background-color: rgb(66,66,66);
  color:yellow;
}

/*     */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.heading-text {
  font-family: 'Tangerine', serif;
  font-size: 52px;
}

/*   */
